# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
serie_anomalia_termica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02])

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
serie_anomalia_termica.index = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
serie_anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
data_frame = pd.DataFrame(arr)
data_frame

             0           1           2
0    98.583710   97.756502   84.464288
1    82.526432   86.891957   73.564413
2    97.002229  106.181212  114.492963
3   105.999911  103.460292  109.304135
4    94.524319   91.441718  111.100378
5    95.991135  100.726965  104.186791
6   101.898133  101.993969   99.151420
7   105.386034   95.574702  104.478015
8    90.005793  108.186718  110.165566
9   119.612964   88.854209  110.675373
10   88.631910  107.546633   88.845085
11   95.068034   98.789424   90.970407
12   95.630313   96.162887   94.027978
13   94.850908  106.384528  110.906783
14   94.434763   98.354770  105.362330
15  115.442123   89.068000   95.808486
16  101.537992   82.921830   99.876222
17  100.964378   82.402914   94.059356
18   93.090223   99.178074   94.459394
19  104.470455  103.553662   94.154618

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
data_frame.index = range(1, 21)
data_frame.columns = ["x1", "x2", "x3"]
data_frame

            x1          x2          x3
1    98.583710   97.756502   84.464288
2    82.526432   86.891957   73.564413
3    97.002229  106.181212  114.492963
4   105.999911  103.460292  109.304135
5    94.524319   91.441718  111.100378
6    95.991135  100.726965  104.186791
7   101.898133  101.993969   99.151420
8   105.386034   95.574702  104.478015
9    90.005793  108.186718  110.165566
10  119.612964   88.854209  110.675373
11   88.631910  107.546633   88.845085
12   95.068034   98.789424   90.970407
13   95.630313   96.162887   94.027978
14   94.850908  106.384528  110.906783
15   94.434763   98.354770  105.362330
16  115.442123   89.068000   95.808486
17  101.537992   82.921830   99.876222
18  100.964378   82.402914   94.059356
19   93.090223   99.178074   94.459394
20  104.470455  103.553662   94.154618

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui

data_frame["media"] = (data_frame["x1"] + data_frame["x2"] + data_frame["x2"]) / 3
data_frame

            x1          x2          x3       media
1    98.583710   97.756502   84.464288   98.032238
2    82.526432   86.891957   73.564413   85.436782
3    97.002229  106.181212  114.492963  103.121551
4   105.999911  103.460292  109.304135  104.306832
5    94.524319   91.441718  111.100378   92.469251
6    95.991135  100.726965  104.186791   99.148355
7   101.898133  101.993969   99.151420  101.962024
8   105.386034   95.574702  104.478015   98.845146
9    90.005793  108.186718  110.165566  102.126410
10  119.612964   88.854209  110.675373   99.107127
11   88.631910  107.546633   88.845085  101.241726
12   95.068034   98.789424   90.970407   97.548961
13   95.630313   96.162887   94.027978   95.985363
14   94.850908  106.384528  110.906783  102.539988
15   94.434763   98.354770  105.362330   97.048101
16  115.442123   89.068000   95.808486   97.859374
17  101.537992   82.921830   99.876222   89.127217
18  100.964378   82.402914   94.059356   88.590069
19   93.090223   99.178074   94.459394   97.148790
20  104.470455  103.553662   94.154618  103.859260

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
data_frame["log_med"] = np.log(data_frame["media"])
data_frame

            x1          x2          x3       media   log_med
1    98.583710   97.756502   84.464288   98.032238  4.585296
2    82.526432   86.891957   73.564413   85.436782  4.447777
3    97.002229  106.181212  114.492963  103.121551  4.635908
4   105.999911  103.460292  109.304135  104.306832  4.647337
5    94.524319   91.441718  111.100378   92.469251  4.526876
6    95.991135  100.726965  104.186791   99.148355  4.596617
7   101.898133  101.993969   99.151420  101.962024  4.624600
8   105.386034   95.574702  104.478015   98.845146  4.593554
9    90.005793  108.186718  110.165566  102.126410  4.626211
10  119.612964   88.854209  110.675373   99.107127  4.596201
11   88.631910  107.546633   88.845085  101.241726  4.617511
12   95.068034   98.789424   90.970407   97.548961  4.580354
13   95.630313   96.162887   94.027978   95.985363  4.564196
14   94.850908  106.384528  110.906783  102.539988  4.630253
15   94.434763   98.354770  105.362330   97.048101  4.575207
16  115.442123   89.068000   95.808486   97.859374  4.583531
17  101.537992   82.921830   99.876222   89.127217  4.490065
18  100.964378   82.402914   94.059356   88.590069  4.484020
19   93.090223   99.178074   94.459394   97.148790  4.576244
20  104.470455  103.553662   94.154618  103.859260  4.643037